name: Release
on:
  release:
    types: [created]

jobs:
  build_and_upload_assets:
    name: Build and upload binary assets
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Zip release build
        env:
          SWIFTPM_ENABLE_PLUGINS: 1
        run: make archive
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@74c3d60f5a28f358ccf241a00c9021ea16f0569f
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Upload release asset
        uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: .build/release/unlocker.zip
          asset_name: unlocker.zip
          asset_content_type: application/zip
